source ~/.vimrc

" :actionlist <command name> in IDE will search for available actions
" Alt: turn on IdeaVim: Track Action Ids in the Action Menu (see <leader>fa)
" Also https://freedium.cfd/https://towardsdatascience.com/the-essential-ideavim-remaps-291d4cd3971b
" Excellent tutorials: https://www.youtube.com/@therelentlessprogrammer

set relativenumber
set number

" Plugins
Plug 'preservim/nerdtree'
" Requires plugin from marketplace
Plug 'easymotion /vim-easymotion'
Plug 'tpope/vim-commentary'

let mapleader=" "
set easymotion

" Easymotion / jumps
map <leader>J <Plug>(easymotion-s)
map <leader>j <Plug>(easymotion-f)

" Manage ideavim
nnoremap <leader>E :e ~/.ideavimrc<CR>
nnoremap <leader>R :source ~/.ideavimrc<CR>

" Splitting
map <leader>V <Action>(SplitVertically)
map <leader>H <Action>(SplitHorizontally)
map <leader>U <Action>(Unsplit)
map <leader>UU <Action>(UnsplitAll)

" Use ctl+o and ctl+i
" map H :action Back<CR>
" map L :action Forward<CR>

map <leader>n <Action>(GotoNextError)
map <leader>e <Action>(SelectInProjectView)
map <leader>a <Action>(Annotate)

" Find
map <leader>fa <Action>(GotoAction)
map <leader>ff <Action>(FindInPath)

" Debugging
map <leader>dd <Action>(Debug)
map <leader>db <Action>(ToggleLineBreakpoint)

" Testing
" Runs current test
map <leader>tt <Action>(RunClass)

map <leader>r <Action>(RenameElement)
map <leader>c <Action>(Stop)
map <leader>z <Action>(TogglePresentationMode)

map <leader>h <Action>(HighlightUsagesInFile)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)
map <leader>s <Action>(ShowUsages)
map <leader>u <Action>(FindUsages)

" Terminal
map <c-t> <Action>(ActivateTerminalToolWindow)
map <leader>T <Action>(Terminal.OpenInTerminal)

" AI
map <leader>ai <Action>(ActivateAIAssistantToolWindow)

map <leader>g <Action>(Vcs.ShowHistoryForRevision)

" Use system pasteboard
set clipboard=unnamed

" window navigation
map <C-j> <C-w>j<CR>
map <C-k> <C-w>k<CR>
map <C-h> <C-w>h<CR>
map <C-l> <C-w>l<CR>
sethandler <C-j> a:vim
sethandler <C-k> a:vim

